{% assign DATA = play %}
<footer class="bg-slate-50">

  <div class="container mx-auto flex justify-center align-middle space-x-1">
    
    <span class="brand">{{ DATA.meta.name }}</span>

    <small class="leading-7">[ {{ DATA.meta.title }} ]</small>

  </div>

</footer>
